<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-cart-shopping"></i> Carrito de Compras
        </a>
    </div>
</nav>
