<div class="col">
    <div class="card text-bg-success h-100">
        <img src="/assets/img/<%= nombre %>.png" class="card-img-top" alt="<%= nombre %>">
        <div class="card-body">
            <h5 class="card-title"><%= nombre.charAt(0).toUpperCase() + nombre.slice(1) %></h5>
            <button class="btn btn-primary btn-block">Agregar al carrito</button>
        </div>
    </div>
</div>
